.inline-form{
    display: inline-block;
}

.form-button{
    display: inline-block;
    text-align: center;
}

.my-button{
    background-color: red;
    padding: 10px 60px;
    border-radius: 5px;
    color: white;
}